<a href="https://colab.research.google.com/github/barywhyte/analytics/blob/master/Soccer_Data_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Soccer Data Machine Learning

In [0]:
# import important libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt
from scipy.stats import norm
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn   #ignore warnings from sklearn and seaborn

In [0]:
data = pd.ExcelFile("https://github.com/10acad/piq2019/blob/master/data/SoccerData.xlsx?raw=true")
soccer = pd.read_excel(data)

In [0]:
soccer.shape

(24830, 81)

In [0]:
soccer.head()

           league  teams_no       date  ...  A2H Unnamed: 79  Unnamed: 80
0  France-Ligue 2        20 2016-01-08  ...  0.0         NaN          NaN
1  France-Ligue 2        20 2016-01-08  ...  0.0         NaN          NaN
2  France-Ligue 2        20 2016-01-08  ...  0.0         NaN          NaN
3  France-Ligue 2        20 2016-01-08  ...  0.0         NaN          NaN
4  France-Ligue 2        20 2016-01-08  ...  0.0         NaN          NaN

[5 rows x 81 columns]

In [26]:
odds = ['home_odd', 'draw_odd', 'away_odd']
print(len(soccer[soccer['home_odd'] == 0]))
print(len(soccer[soccer['draw_odd'] == 0]))
print(len(soccer[soccer['away_odd'] == 0]))

6491
6491
6491

In [0]:
 missing = soccer.isnull().sum()
missing[missing>0]

h_goal_signal     1007
a_goal_signal      996
a_final             10
h_half            9101
a_half            9101
H1H               7465
A1H               7465
H2H               7465
A2H               7465
Unnamed: 79      24568
Unnamed: 80      24568
dtype: int64

**Which column has the most missing values?**

              Unnamed: 79 and 
              Unnamed: 80

**Is it feasible to drop all rows with missing values? If not, try to fill missing values with an appropriate strategy.**

                   The answer is yes but this is not advisable because some of the columns with 
                   missing data may contain important information relevant to any predictive models

**drop columns with greater than 50% missing values**

In [0]:
soccer1 = soccer.dropna(thresh=0.5*len(soccer), axis=1)

In [29]:
soccer1.shape

(24830, 79)

**Try to fill missing values with an appropriate strategy.**

In [30]:
missing = soccer1.isnull().sum()
missing[missing>0]

h_goal_signal    1007
a_goal_signal     996
a_final            10
h_half           9101
a_half           9101
H1H              7465
A1H              7465
H2H              7465
A2H              7465
dtype: int64

In [0]:
soccer1.fillna(soccer1.median(), inplace=True)

In [41]:
missing = soccer1.isnull().sum()
missing[missing>0]

Series([], dtype: int64)

**Split the data into training (60%), validation(30%) and test(10%)**

In [0]:
X_train, X_test = train_test_split(soccer1, train_size=0.6, random_state=1)

X_train, X_val = train_test_split(X_train, test_size=0.3, random_state=1)

In [58]:
print('train data length :', len(X_train))
print('test data lenth :', len(X_test))
print('validation data length :', len(X_val))

train data length : 10428
test data lenth : 9932
validation data length : 4470